papers/Important_Questions_PromptEng.pdf
.venv/
.env
.envrc
**/.idea
**/*iml
**/report.aux
**/report.bbl
**/report.blg
**/report.brf
**/report.log
**/report.out
**/report.pdf
report/report.run.xml
report/report.pdf
report/report.bcf
src/__pycache__
vector-store
**/Excel_Output*
data/hm_gpt-4o_topk8_paramsall.xlsx
data/hm_llama2_topk8_paramsall.xlsx
data/hm_llama3:instruct_topk8_paramsall.xlsx
data/hm_mistral_topk8_paramsall.xlsx
data/hm_phi3:14b-instruct_topk8_paramsall.xlsx
data/scenarios.ods
data/zara_gpt-4o_topk8_paramsall.xlsx
data/zara_llama2_topk8_paramsall.xlsx
data/zara_llama3:instruct_topk8_paramsall.xlsx
data/zara_mistral_topk8_paramsall.xlsx
data/zara_phi3:14b-instruct_topk8_paramsall copy.xlsx
data/zara_phi3:14b-instruct_topk8_paramsall.xlsx
faith_zara.png
Missing_Values.png
zara_comparison_decision.jpg
